<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.alipaydemo">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AlipayDemo">
        <activity android:name=".ChatActivity"></activity>
        <activity android:name=".Information" />
        <activity android:name=".MyApp" />
        <activity android:name=".Money" />
        <activity android:name=".Search" />
        <activity android:name="com.example.alipay.MnlineActivity" />
        <activity android:name="com.example.alipay.WelcomeActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:screenOrientation="portrait" />
    </application>

</manifest>